$color-primario: #e48754;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  body {
    background-color: $color-primario;
    overflow-x: hidden;
    font-family:'Montserrat' 'Poppins', sans-serif;
  }