@import "body";
@import "header";
@import "home";
@import "productos";
@import "sobremi";
@import "contacto";
@import "galeriadefotos";
@import "footer"; 



  /*RESPONSIVO*/

  @media (max-width: 767px) {
    .custom-navbar {
      background-color: burlywood;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
      .navbar-nav {
        flex-direction: column;
        align-items: center;
      }
  
      .logo-img {
        max-width: 150px;
        height: auto;
      }
  
      .nav-link {
        font-size: 1.3rem;
        margin-right: 40px;
      }
  
      .custom-navbar .nav-link:hover {
        background-color: #28a745;
      }
    }
  
    .imagenes {
      width: 100%;
      height: 100%;
    }
  
    .container {
      width: 100%;
      display: block;
      margin-top: 10px;
      border: solid 3px;
  
      img {
        width: auto;
        margin: auto;
      }
    }
  
    .text {
      max-width: 80%;
      margin-right: 20px;
  
      p {
        margin: 0;
        font-size: 1.5rem;
      }
    }
  
    .image {
      max-width: 100%;
      margin-left: 20px;
  
      img {
        max-width: 100%;
        height: auto;
      }
    }
  
    .titulosegundo {
      text-align: center;
      margin: 25px;
    }
  
    .contenido {
      display: block;
      text-align: center;
    }
  
    .diferenciales {
      display: block;
      margin-top: 10px;
      margin-bottom: 50px;
    }
  
    .list {
      list-style-type: none;
      padding: 0;
  
      li {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
      }
    }
  
    .image {
      max-width: 50%;
      border-radius: 5px;
      margin-left: 20px;
      box-shadow: 0 10px 10px #000e01e8;
      transition: transform 0.3s ease;
  
      &:hover {
        transform: scale(1.05);
      }
    }
  
    img {
      max-width: 100%;
      height: auto;
    }
  
    h2 {
      text-align: center;
      font-size: 40px;
    }
  
    .productosventas {
      width: 100%;
      text-align: center;
      font-size: 2rem;
  
      p {
        font-size: 1.5rem;
      }
    }
  
    .carrusel {
      width: 100%;
      margin: auto;
      margin-bottom: 20px;
    }
  
    .carousel-inner {
      width: auto;
      height: 400px;
      margin: auto;
    }
  
    .carousel-item img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  
    .productos {
      width: 100%;
      margin: 15px auto;
      padding: 30px;
      display: block;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
  
      li {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        padding: 20px 10px;
        border: 2px solid #000000;
        border-radius: 10px;
  
        &:hover {
          border-color: #c78c19;
        }
  
        &:active {
          border-color: #088c19;
        }
  
        h2 {
          font-size: 30px;
          font-weight: bold;
  
          &:hover {
            font-size: 33px;
          }
        }
  
        .producto-descripcion {
          font-size: 18px;
        }
  
        .producto-precio {
          font-size: 20px;
          font-weight: bold;
          margin-top: 10px;
        }
      }
    }
  
    .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      gap: 20px;
      margin: 10px 10px;
    }
  
    .card {
      display: flex;
      flex-direction: column;
      background-color: white;
      border: 1px solid black;
      border-radius: 5px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  
      .card-image {
        height: 200px;
        background-color: #eee;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
  
      .card-text {
        padding: 20px;
        text-align: justify;
  
        p {
          margin: 0;
          font-size: 16px;
          line-height: 1.5;
        }
      }
  
      &:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
      }
    }
  
    .container-form {
      width: 100%;
      max-width: 1100px;
      margin: auto;
      display: block;
      grid-gap: 50px;
      margin-top: 90px;
  
      h2 {
        margin-bottom: 15px;
        font-size: 35px;
      }
  
      p {
        font-size: 17px;
        line-height: 1.6;
        margin-bottom: 30px;
      }
  
      a {
        font-size: 17px;
        display: inline-block;
        text-decoration: none;
        width: 100%;
        margin-bottom: 15px;
        color: black;
        font-weight: bolder;
  
        i {
          color: black;
          margin-right: 10px;
        }
      }
  
      form .campo,
      textarea {
        width: 100%;
        padding: 15px 10px;
        font-size: 16px;
        border: 1px solid #dbdbdb;
        margin-bottom: 20px;
        border-radius: 3px;
        outline: 0px;
  
        textarea {
          width: 100%;
          height: 140px;
        }
      }
  
      .btn-enviar {
        padding: 15px;
        font-size: 16px;
        border: none;
        outline: 0px;
        border-radius: 3px;
        background-color: #28a745;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #218838;
        }
  
        &:active {
          background-color: #1e7e34;
        }
      }
    }
  
    footer {
      background-image: linear-gradient(bottom right, burlywood, sandybrown);
      background-color: burlywood;
    }
  }
  

  

  
  
